<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Input Page</title>
    <!-- <link rel="stylesheet" href="../static/styles/input-style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/input-style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

    function makePopUpBox(passed_text){
      var textBox = $("#input-text")[0];
      if(passed_text){var text=passed_text;}
      else{
      var text = textBox.value;}
      if (text){
        var popUpBox = $("#Orignal-clip-box").clone();
        popUpBox.children()[1].innerText = text;
        popUpBox.attr("id", "");
        popUpBox.attr("display", "none");
        textBox.value = "";

        popUpBox.slideDown(function(){
          $("#clip-area").prepend(popUpBox);
        });
      }
    }

    function closePopUp(x){
      var a = $(x).parent();
      a.slideUp(function(){
        a.remove();
      });
    }

    function clearClipArea(){
      $("#clip-area").children().map(function(){
        if (this.id != "Orignal-clip-box"){
          this.remove();
        }
      });
      $("#input-text")[0].value = "";
    }

    function generate(){
      var text = $("#input-text")[0].value;
      $("#clip-area").children().map(function(){
        if (this.id != "Orignal-clip-box"){
          text += $(this).children()[1].innerText + "\n\n";
        }
      });
      console.log(text);
      makePostRequest(text);
    }

    function makePostRequest(text){
      var form = document.createElement("form");
      form.setAttribute("method", "POST");
      form.setAttribute("action", "/get_cytoscape_json_for_text")

      var hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", "input-text");
      hiddenField.setAttribute("value", text);
      form.appendChild(hiddenField);

      document.body.appendChild(form);
      form.submit();
    }

    function handleFileSelect(evt) {
      evt.preventDefault();
      var files = evt.dataTransfer.items; // FileList object

      // Loop through the FileList and render image files as thumbnails.
      for (var i = 0; i<files.length; i++) {
        var f = files[i];
        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
          return function(e) {
            makePopUpBox(reader.result);
          };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsText(f.getAsFile());

      }
    }

    function allow(evnt){evnt.preventDefault();}

    </script>
  </head>

  <body>
    <div class="mega-container">
      <header>
        <h1>Semantic Tree</h1>
        <p>Add text for Concept Map generation using the text box below. You can add multiple peices of text by using <b>Add Text</b> button.
        All pieces of text will appear in the dialogue box on the left side of the screen. You can choose to remove pieces by clicking on the
        <b>'X'</b> icon on the clip-box.
        Furthermore, you can also drag-and-drop ".txt" file onto the green region for adding text.
      </p>
      </header>
      <div class="container">
        <textarea id="input-text" name="input-text" rows="8" cols="80" ondragover="allow(event)" ondrop="handleFileSelect(event)"></textarea>
        <div id="clip-area">
          <div class="popup" id="Orignal-clip-box">
              <a class="close" onclick="closePopUp(this)">&times;</a>
              <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
          </div>
        </div>
        <button type="button" id="add-text" class="action-button animate red" name="addtext" onclick="makePopUpBox()">Add Text</button>
        <button type="button" id="clear-text" class="action-button animate blue" name="cleartext" onclick="clearClipArea()">Clear</button>
        <button type="button" id="generate" class="action-button animate green" name="generate" onclick="generate()">Generate</button>
      </div>
    </div>
  </body>

</html>
